.container-page-login--register {
  flex-direction: row-reverse;
}

.container-page-login__card--register {
  flex-direction: column;
}

.container-page-login__text {
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 40px;
}

.container-page-login__items--register {
  margin-right: 10rem;
  padding: 2rem;
}
